body {
    font-family: 'Times New Roman';
}

#main {
    background-image: url(Venice\ Street-2.jpg);
    border-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;               
}

div2 {
    background-color: lightgrey;
    width: 1300px;
}

h3 {
    Padding-left: auto;
    text-align: center;
    padding-top: 200px;
    color: goldenrod;
    font-size: 500%;
    
}

#Sign {
    padding-left: auto;
    text-align: center;
    padding-top: 200px;
    color: white;
}

#Create {
    width: 200px;
    margin: 30px;
}

h1 {
    padding-left: auto;
    text-align: center;
    color: white;
    font-size: 600%;
}

#Motto {
    padding-left: auto;
    text-align: center;
    color: white;
}


